
body {
    font: 11px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .dot {
    stroke: #000;
  }
  .left-element {
    background: #728ca6;
    float: left;
}

.right-element {
    background: #d46a6a;
    float: right;
}  
.container{
  width:20px;
}